* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.status{
    padding: 20px;
}

input{
    color: black;
    padding: 5px 10px;
    margin-top: 5px;
}

.App{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chat{
    border: 1px solid white;
    width: 400px;
    padding: 20px;
}

.board{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 985px;
}

.letter{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 24px;
}

.letter-hidden{
    background-color: rgb(149, 77, 0);
}

.players-board{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    padding: 20px;
}

.empty{
    border: none;
}

.player-card{
    border: 1px solid white;
    width: 150px;
    padding: 20px;
}

button{
    border: 1px solid white;
    background-color: rgb(138, 60, 60);
    padding: 10px;
}